.commodity {
    overflow: hidden;
    .crumb {
        padding-left: 16px;
        height: 54px;
        clear: both;
        font-family: SimSun;
        line-height: 50px;
        span{
            color: #333;
        }
        .mbNav{
            margin: 0 12px;
        }
        .mbNav-last {
            color: #333;
        }
    }
    .global-main {
        font-family: 'Microsoft YaHei';
        .black {
            color: #333;
            margin-right: 26px;
            width: 52px;
            float: left;
            display: inline;               
        }
        .promotion {
            margin-top: 10px;
        }
        .spec-preview {
            border: 1px solid #ddd;
            box-shadow: none;
        }
        .global-title {
            line-height: 24px;
            margin-top: 10px;
            font-size: 20px;
            color: #333;
            font-weight: 700;
            max-height: 48px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .global-title-info {
            font-size: 14px;
            color: #666;
            line-height: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .global-attribute-time {
            background: #e0ba62 url('../img/global-attribute-time-icon.png') no-repeat 15px center;
            height: 40px;
            line-height: 40px;
            color: #fff;
            border-bottom: 0;
            padding-left: 45px;
            font-size: 16px;
        }
        .global-attribute-info {
            background: #f9f9f9;
            border-top: 1px solid #e8e8f0;
            border-bottom: 1px solid #e8e8f0;
            padding-bottom: 5px;
            line-height: 28px;
            position: relative;
            .price-line {
                height: 30px;
                line-height: 30px;
                margin: 15px 0 0 15px;

                .price {
                    color: #e6133c;
                    font-size: 30px;
                    font-family: Arial;
                    margin-right: 25px;
                    float: left;
                    display: inline;
                    height: 30px;
                    overflow: hidden;
                    margin-top: -4px;
                }
                .span-tariff {
                    color: #666;
                    background: url('../img/prompt-1.png') no-repeat right center;
                    padding-right: 18px;
                    cursor: pointer;
                    i{
                        position: absolute;
                        background: #fff;
                        padding: 6px 8px;
                        box-shadow: 0 0 5px #CCC;
                        border: 1px solid #ccc;
                        width: 400px;
                        right: 0;
                        top: 43px;
                        line-height: 18px;
                        color: #666;
                        display: none;
                        z-index: 10;
                    }
                }
                .ml15 {
                    margin-left: 15px;
                }
                .c999 {
                    color: #999;
                }
            }
            .view-line {
                height: 27px;
                line-height: 24px;
                margin: 0 0 0 15px;
                clear: both;
                .grey {
                    color: #999;
                    float: left;
                    display: inline;
                    .view-point {
                        padding-left: 20px;
                        background: url('../img/view-good-1.png') 1px center no-repeat;
                        color: #e6133c;
                        float: left;
                        display: inline;
                    }
                }
                .red{
                    color: #e6133c;
                    font-family: verdana;
                }
            }
        }
        .min-hight {
            min-height: 140px;
            .promotion {
                width: 600px;
                height: auto;
                float: left;
                display: inline;
                margin-top: 4px;
                background: #fff;
                dl {
                    padding: 6px 0 0 1px;
                    width: 598px;
                    background: #fff;
                    dt{
                        padding-left: 15px;
                    }
                    dd {
                        width: 400px;
                        height: auto;
                        line-height: 18px;
                        overflow: hidden;
                        ul {
                            float: left;
                            display: inline;
                            width: 400px;
                            li{
                                width: 400px;
                                height: 18px;
                                line-height: 18px;
                                margin-top: 4px;
                                float: left;
                                display: inline;
                                color: #333;
                                i{
                                    background: #ff4c61;
                                    padding: 0 7px;
                                    height: 18px;
                                    float: left;
                                    display: inline;
                                    color: #fff;
                                    margin-right: 7px;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }
            }
            .send-service {
                width: 500px;
                float: left;
                display: inline;
                // margin-top: 10px;
                .fl-distribution {
                    float: left;
                    color: #333;
                }
                .fl-distribution-1 {
                    float: left;
                    color: #999;
                    margin-left: 10px;
                    display: inline;
                }
            }
            .pay-sevice {
                padding-bottom: 0;
                // padding-top: 5px;
                width: 600px;
                border-bottom: 1px dashed #aaa;
                float: left;
                display: inline;
                // padding-bottom: 5px;
                .message-line {
                    width: 400px;
                    height: 18px;
                    line-height: 18px;
                    margin-top: 3px;
                    float: left;
                    display: inline;
                    font-family: "Microsoft Yahei";
                }
                .pay-way {
                    width: 78px;
                    float: right;
                    display: inline;
                    margin-right: 10px;
                    background: #fff none repeat scroll 0 0;
                    border: 1px solid #fff;
                    font-family: "Microsoft Yahei";
                }
            }
            .choose-type {
                width: 600px;
                height: auto;
                float: left;
                display: inline;
                padding-bottom: 4px;
                margin-top: 5px;
                font-family: "Microsoft Yahei";
            }
        }
    }
    .product-intro{
        .intro-left{
            float: left;
            .center-prview {
                float: left;
                width: 350px;
                .spec-preview {
                    width: 348px;
                    height: 348px;
                    border: 1px solid #eee;
                    box-shadow: 0 0 2px 2px rgba(50,50,50,.1);
                    .jqzoom {
                        margin: 0;
                        padding: 0;
                        float: left;
                        position: relative;
                        display: block;
                        border: none;
                        cursor: pointer;
                        z-index: 102;
                        .jqzoom-body {
                            width: 348px;
                            height: 348px;
                            line-height: 348px;
                            text-align: center;
                            vertical-align: middle;
                            display: inline;
                            float: left;
                            overflow: hidden;
                            .minzoom {
                                position: absolute;
                                top: 0;
                                left: 0;
                                // visibility: hidden;
                                // display:none;
                                // width: 165px;
                                // height: 178px;
                                // width:20px;
                                // height:20px;
                                background: red;
                                z-index: 104;
                                opacity: .5;
                                -moz-opacity: .5;
                                -khtml-opacity: .5;
                                filter: alpha(Opacity=50);
                            }
                        }
                        img{
                            width: 348px;
                            height: 348px;
                        }
                    }
                    .zoomdiv {
                        position: absolute;
                        top: 50px;
                        left: 410px;
                        // display: none;
                        overflow: hidden;
                        width: 380px;
                        height: 410px;
                        background: #fff;
                        border: 1px solid #ccc;
                        text-align: center;
                        z-index: 104;
                        img{
                            position:absolute;
                        }
                    }
                }
                .spec-scroll {
                    margin-top: 15px;
                    clear: both;
                    a{
                        display: block;
                        width: 6px;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                        cursor: pointer;
                        color: #ccc;
                    }
                    .prev{
                        margin-right: 4px;
                        float: left;
                    }
                    .next{
                        float: right;
                    }
                    .items{
                        float: left;
                        position: relative;
                        overflow: hidden;
                        width: 320px;
                        height: 60px;
                        margin: 0 4px;
                        ul{
                            li{
                                float: left;
                                width: 64px;
                                text-align: center;
                                img{
                                    width: 58px;
                                    height: 58px;
                                    border: 1px solid #eee;
                                }
                            }
                        }
                    }
                }
                .intro-meno-left{
                    margin: 4px 14px 0 0;
                    float: left;
                    height: 30px;
                    line-height: 32px;
                    color: #666;
                    width: 350px;
                    a{
                        float: left;
                        color: #333;
                        display: inline;
                    }
                    div{
                        float: left;
                    }
                    .number{
                        color: #333;
                        width: auto;
                        margin-right: 20px;
                        line-height: 38px;
                    }
                    .collect{
                        line-height: 38px;
                        .no-collect{
                            color: #999;
                            background: url('../img/ie7-start.png') no-repeat 1px -30px;
                        }
                        a{
                            padding: 0 0 0 19px;
                            display: block;
                            width: 78px;
                            color: #333;
                        }
                    }
                    .share-list {
                        padding: 2px 7px 10px 6px;
                        width: 62px;
                        background: #fff;
                        border: 1px solid #fff;
                        .shar-list-icon {
                            padding-left: 19px;
                            width: 25px;
                            background: url('../img/ie7-start.png') no-repeat 1px -85px;
                        }
                        .up{
                            margin-left: 10px;
                            display: inline-block;
                            width: 7px;
                            height: 9px;
                            background: url('../img/up_down_icon.png') no-repeat 0 2px;
                        }
                    }
                }
            }
            .detail {
                float: left;
                width: 600px;
                padding-left: 20px;
                .global-country{
                    height: 22px;
                    line-height: 22px;
                    i{
                        display: block;
                        width: 22px;
                        height: 22px;
                        float: left;
                    }
                    span{
                        float: left;
                        margin-left: 10px;
                        color: #999;
                        font-size: 14px;
                    }
                    div{
                        float: right;
                        height: 20px;
                        border: 1px solid #2e3384;
                        border-radius: 3px;
                        padding-left: 28px;
                        padding-right: 6px;
                        font-size: 14px;
                        color: #2e3384;
                        line-height: 20px;
                        background: url('../img/qqg-icon-1.png') no-repeat left;
                    }
                } 
                dl {
                    padding-top: 5px;
                    float: left;
                    display: inline;
                    width: 600px;
                    padding-bottom: 5px;
                    font-family: "Microsoft Yahei";
                    dt{
                        padding-left: 20px;
                        float: left;
                        width: 50px;
                        line-height: 22px;
                        color: #666;
                        font-family: "Microsoft Yahei";
                        height: 22px;
                    }
                    .item-number {
                        line-height: 40px;
                        height: 40px;
                    }
                    .item-quantity {
                        float: left;
                        position: relative;
                        overflow: hidden;
                        width: 79px;
                        height: 38px;
                        border: 1px solid #ccc;
                        box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                         button {
                            position: absolute;
                            right: -1px;
                            overflow: hidden;
                            width: 19px;
                            height: 21px;
                            border: 1px solid #ccc;
                            line-height: 15px;
                            color: #666;
                            text-align: center;
                            text-decoration: none;
                            white-space: nowrap;
                        }
                        .btn-reduce {
                            bottom: -1px;
                            background: #fff url('../img/icons-arrow3.png') no-repeat scroll 5px -6px;
                        }
                        .btn-add {
                            top: -1px;
                            background: #fff url('../img/icons-arrow3.png') no-repeat scroll 5px 8px;
                        }
                        input {
                            margin: 10px 6px 0 11px;
                            position: absolute;
                            top: 1px;
                            left: 0;
                            display: block;
                            background: 0 0;
                            width: 42px;
                            height: 17px;
                            border: 0 none;
                            line-height: 17px;
                            font-weight: 700;
                            font-size: 14px;
                        }
                    }
                    dd {
                        margin-left: 28px;
                        float: left;
                        display: inline;
                        width: 500px;
                    }
                    .height-18 {
                        height: 42px;
                    }
                    .p-top {
                        color: #666;
                        line-height: 18px;
                        position: relative;
                        overflow: hidden;
                        p{
                            padding-top: 3px;
                        }
                    }
                }
                .buy-cart {
                    margin-top: 20px;
                    height: 50px;
                    .btn-line {
                        float: left;
                        display: inline;
                        .buy-now {
                            color: #2e3384;
                            border: 1px solid #2e3384;
                            width: 168px;
                            height: 38px;
                            background: #eeefff;
                            line-height: normal;
                        }
                        .btn-buy{
                            background: #2e3384;
                        }
                        button {
                                color: #fff;
                                font-size: 16px;
                                font-weight: 700;
                                border: 0 none;
                                font-family: "Microsoft Yahei";
                                cursor: pointer;
                                width: 170px;
                                float: left;
                                display: inline;
                                text-align: center;
                                border-radius: 3px;
                                margin-right: 7px;
                            i {
                                width: 30px;
                                height: 40px;
                                float: left;
                                display: inline;
                                margin-left: 28px;
                                background: url('../img/commodity_new_icon.png') 0 0 no-repeat;
                            }
                            span {
                                float: left;
                                display: inline;
                                height: 40px;
                                line-height: 40px;
                            }
                        }
                    }
                    .store-guide{
                        float: right;
                        position: relative;
                        right: 21px;
                        width: 100px;
                        .store {
                            position: absolute;
                            top: -106px;
                            display: none;
                            width: 125px;
                            height: 144px;
                            background: #fff;
                            border: 1px solid #eee;
                            text-align: center;
                        }
                        .pay-code {
                            margin: 14px 0 0;
                            padding-left: 28px;
                            height: 18px;
                            background: url('../img/commodity_new_code.png') no-repeat 7px 2px;
                            color: #666;
                        }
                    }
                }
            }
        }
        .intro-right {
            width: 195px;
            height: 575px;
            float: right;
            border: 1px solid #eee;
            .brand-list {
                width: 196px;
                height: 155px;
                float: left;
                display: inline;
                background: #fffaf0;
                border: 2px solid #f6e5c4;
                margin: -1px 0 0 -1px;
                .pic {
                    width: 196px;
                    height: 96px;
                    background: #fff;
                    float: left;
                    display: inline;
                    text-align: center;
                    overflow: hidden;
                    img{
                        width: auto;
                        height: 96px;
                    }
                }
                .txt {
                    width: 196px;
                    height: 54px;
                    line-height: 54px;
                    overflow: hidden;
                    float: left;
                    display: inline;
                    text-align: center;
                    color: #333;
                    font-family: "Microsoft Yahei";
                    .red {
                        color: #e6133c;
                        font-size: 24px;
                    }
                }
            }
            .list-title {
                margin: 0 auto;
                padding-top: 15px;
                width: 146px;
                background: url('../img/dian.png') repeat-x 0 23px;
                text-align: center;
                span {
                    padding: 0 5px;
                    background: #fff;
                }
            }
            .seeclip-list {
                margin: 0 auto;
                width: 130px;
                li {
                    padding-top: 12px;
                    .list-img {
                        position: relative;
                        display: block;
                        text-align: center;
                        width: 130px;
                        height: 130px;
                        img {
                            width: 130px;
                            height: 130px;
                        }
                        .prbg {
                            position: absolute;
                            bottom: 6px;
                            left: 0;
                            width: 130px;
                            height: 24px;
                            background-color: #fff;
                            z-index: 3;
                            opacity: .7;
                        }
                        .see-pr {
                            position: absolute;
                            bottom: 6px;
                            left: 0;
                            width: 130px;
                            height: 20px;
                            font-family: verdana;
                            color: #333;
                            z-index: 4;
                        }
                    }
                    .name {
                        width: 130px;
                        margin: 0 auto;
                        color: #333;
                        text-align: center;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        a{
                            color: #333;
                        }
                    }
                }
            }
            .changed {
                margin: 0 auto;
                margin-top: 15px;
                line-height: 32px;
                width: 146px;
                background: url('../img/dian.png') repeat-x top;
                text-align: center;
                a {
                    padding-left: 28px;
                    width: auto;
                    height: 12px;
                    background: url('../img/repeat2.png') 0 0 no-repeat;
                    color: #999;
                }
            }
        }
    } 
    .product-table{
        .proinfo-left {
            float: left;
            width: 230px;
            .list-detail-mp {
                width: 230px;
                height: auto;
                margin-top: 20px;
                border: 1px solid #eee;
                border-top: 2px solid #999;
                .mp-title {
                    width: 210px;
                    height: 44px;
                    line-height: 44px;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-left: 9px;
                }
                .mp-list {
                    width: 230px;
                    height: 80px;
                    background: #f8f8f8;
                    border-top: 1px solid #eee;
                    .service-icon {
                        width: 150px;
                        height: 26px;
                        line-height: 26px;
                        float: left;
                        display: inline;
                        margin: 10px 0 0 40px;
                        background: #08c;
                        color: #fff;
                        i {
                            width: 26px;
                            height: 26px;
                            margin-left: 30px;
                            float: left;
                            display: inline;
                            background: url('../img/service-icon.png') no-repeat;
                        }
                    }
                    .enter {
                        width: 70px;
                        height: 26px;
                        text-align: center;
                        line-height: 26px;
                        float: left;
                        display: inline;
                        margin: 10px 10px 0 40px;
                        background: #e6133c;
                        color: #fff;
                    }
                    .collect {
                        width: 68px;
                        height: 24px;
                        text-align: center;
                        line-height: 24px;
                        float: left;
                        display: inline;
                        margin-top: 10px;
                        background: #eee;
                        border: 1px solid #ccc;
                        color: #333;
                    }
                }
            }
            .list-main-left-unit {
                margin-top: 20px;
                border-top: 2px solid #999;
                .unit {
                    border: 1px solid #eee;
                    border-top: none;
                    .unit-title {
                        line-height: 48px;
                        text-align: center;
                        color: #000;
                        font-family: "Microsoft YaHei";
                        font-size: 20px;
                    }
                    .pro-class {
                        width: 100%;
                        li {
                            float: left;
                            position: relative;
                            width: 228px;
                            height: 322px;
                            .pro-show {
                                width: 200px;
                                padding: 14px;
                                min-height: 306px;
                                padding-bottom: 0;
                                .pro-img {
                                    height: 200px;
                                    width: 200px;
                                }
                                .pro-money {
                                    height: 26px;
                                    margin-top: 10px;
                                    position: relative;
                                    .money-fl {
                                        float: left;
                                        font-family: Verdana,Geneva,sans-serif;
                                        color: #e6133c;
                                        line-height: 26px;
                                        font-size: 18px;
                                    }
                                }
                                .pro-name {
                                    line-height: 21px;
                                    color: #333;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .pro-info {
                                    line-height: 21px;
                                    color: #e6133c;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .pro-assess {
                                    height: 21px;
                                    line-height: 21px;
                                    .pro-assess-right {
                                        float: right;
                                        color: #999;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .proinfo-main {
            float: right;
            width: 940px;
            .goods-details-box {
                margin: 0 auto;
                width: 940px;
                .goods-details-con {
                    margin: 0 auto;
                    padding-top: 20px;
                    width: 940px;
                    font-size: 12px;
                    p{
                        max-width: 940px;
                    }
                }
            }
            // 评分
            .lazy-fn{
                .reviewed-detail {
                    width: 940px;
                    height: 122px;
                    float: left;
                    display: inline;
                    background: #f5f5f5;
                    font-family: "Microsoft YaHei";
                    .reviewed-info {
                        padding-left: 15px;
                        .reviewed-fraction {
                            float: left;
                            width: 145px;
                            height: 70px;
                            margin-top: 25px;
                            text-align: center;
                            border-right: 1px solid #ccc;
                            .reviewed-title {
                                overflow: hidden;
                                height: 30px;
                                font-family: "Microsoft YaHei";
                                font-size: 16px;
                                line-height: 14px;
                                color: #333;
                            }
                        }
                        .reviewed-info-middle {
                            width: 560px;
                            height: auto;
                            float: left;
                            display: inline;
                            .reviewed-info-detail {
                                padding-left: 40px;
                                height: 70px;
                                margin-top: 20px;
                                float: left;
                                display: inline;
                                width: 450px;
                                .reviewed-line {
                                    width: 450px;
                                    height: 16px;
                                    line-height: 16px;
                                    margin: 26px 0 0;
                                    background: url('../img/view-back.png') 0 0 no-repeat;
                                    float: left;
                                    display: inline;
                                    position: relative;
                                    .review-width {
                                        width: 100%;
                                        height: 16px;
                                        float: left;
                                        display: inline;
                                        background: url('../img/view-back.png') 0 -16px no-repeat;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        .t4 {
                                            background: #ea5544;
                                        }
                                        i {
                                            position: absolute;
                                            top: -22px;
                                            right: -16px;
                                            width: 33px;
                                            height: 16px;
                                            line-height: 16px;
                                            float: left;
                                            display: inline;
                                            color: #fff;
                                            text-align: center;
                                            background: #ef968a;
                                            em {
                                                position: absolute;
                                                top: 16px;
                                                left: 12px;
                                                width: 0;
                                                height: 0;
                                                line-height: 0;
                                                font-size: 0;
                                                border-width: 5px;
                                                border-style: solid dashed dashed;
                                                border-color: #ea5544 transparent transparent;
                                            }
                                        }
                                    }
                                }
                                .reviewed-article {
                                    line-height: 30px;
                                    li {
                                        width: 90px;
                                        text-align: right;
                                        float: left;
                                        display: inline;
                                    }
                                }
                            }
                        }
                        .reviewed-btn-line {
                            width: 210px;
                            height: 70px;
                            float: right;
                            display: inline;
                            margin-top: 25px;
                            border-left: 1px solid #ddd;
                            .btn-message {
                                width: 210px;
                                height: 24px;
                                line-height: 14px;
                                float: left;
                                display: inline;
                                text-align: center;
                                color: #999;
                            }
                            .btn {
                                width: 90px;
                                height: 30px;
                                background: #e6133c;
                                float: left;
                                display: inline;
                                margin-left: 60px;
                                border: 0 none;
                                font-family: "Microsoft Yahei";
                                cursor: pointer;
                                border-radius: 3px;
                                text-align: center;
                                color: #fff;
                            }
                            .btn-rule {
                                width: 210px;
                                height: 36px;
                                line-height: 36px;
                                float: left;
                                display: inline;
                                text-align: center;
                                color: #333;
                                a{
                                    color: #3593c1;
                                }
                            }
                        }
                    }
                }
                .reviewed-title-list {
                    margin-top: 8px;
                    height: 35px;
                    border-bottom: 1px solid #e2e2e2;
                    font-family: "Microsoft Yahei";
                    line-height: 34px;
                    ul {
                        float: left;
                        li {
                            float: left;
                            color: #333;
                            a{
                                padding: 0 15px;
                                display: inline-block;
                                color: #333;
                                text-decoration: none;
                            }
                        }
                        .on{
                            border-bottom: 2px solid #e6133c;
                        }
                    }
                    label {
                        float: right;
                        margin-right: 30px;
                        color: #333;
                        cursor: pointer;
                        outline: 0;
                        input {
                            margin-top: 12px;
                            float: left;
                            outline: 0;
                        }
                        span {
                            margin-left: 7px;
                            float: left;
                            display: inline;
                            line-height: 37px;
                        }
                    }
                }
                .reviewed-list {
                    clear: both;
                    overflow: hidden;
                    font-family: "Microsoft Yahei";
                    ul{
                        margin-top: -1px;
                        li {
                            padding: 15px 0;
                            border-bottom: 1px dotted #d8d8d8;
                            .user-info {
                                float: left;
                                width: 115px;
                                text-align: center;
                                .avatar {
                                    margin: 5px auto;
                                    overflow: hidden;
                                    width: 46px;
                                    height: 46px;
                                    border-radius: 50%;
                                }
                                .user-name {
                                    line-height: 18px;
                                    color: #333;
                                    .time {
                                        color: #999;
                                    }
                                }
                            }
                            .reviewed-info1 {
                                margin-left: 130px;
                                padding-right: 20px;
                                width: 790px;
                                min-height: 100px;
                                .reviewed-info-fraction {
                                    margin-top: 3px;
                                    height: 28px;
                                    line-height: 28px;
                                    color: #999;
                                    i {
                                        width: 20px;
                                        height: 20px;
                                        float: left;
                                        display: inline;
                                        background: url('../img/review-star.png') 0 -20px no-repeat;
                                        margin: 4px 2px 0 0;
                                    }
                                    .select {
                                        background-position: 0 0;
                                    }
                                }
                                .reviewed-info-font {
                                    line-height: 20px;
                                    color: #333;
                                    .reviewed-info-font-w700 {
                                        float: left;
                                        width: 700px;
                                        margin-top: 8px;
                                        .review-txt {
                                            float: left;
                                            display: inline;
                                            width: 100%;
                                            min-height: 66px;
                                            p {
                                                float: left;
                                                display: inline;
                                                line-height: 18px;
                                                padding-bottom: 10px;
                                            }
                                        }
                                    }
                                    .reviewed-info-time {
                                        height: 18px;
                                        line-height: 18px;
                                        color: #999;
                                        .reviewed-info-praise {
                                            float: right;
                                            width: 120px;
                                            height: 24px;
                                            text-align: center;
                                            .gray-icon {
                                                background: url('../img/commodity_new_icon.png') 0 -61px no-repeat;
                                            }
                                            a {
                                                float: right;
                                                display: block;
                                                width: auto;
                                                height: 18px;
                                                position: relative;
                                                line-height: 18px;
                                                padding-left: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 最近浏览及相关推荐
    .recommend-show {
        margin-top: 20px;
        border: 1px solid #ddd;
        border: 1px solid #eee;
        position: relative;
        .recommend-top {
            height: 48px;
            padding: 0 24px 0 15px;
            .recommend-top-left {
                float: left;
                font-size: 18px;
                color: #333;
                font-family: 'Microsoft YaHei';
                line-height: 48px;
            }
        }
        .recommend-ul {
            font-family: 'Microsoft YaHei';
            padding: 0 4px;
            position: relative;
            height: 273px;
        }
    }
}

.right-slidebar {
    width: 314px;
    position: fixed;
    right: -319px;
    top: 0;
    color: #fff;
    z-index: 2000;
    .right-slidebar-main {
        width: 38px;
        position: absolute;
        left: 0;
        top: 0;
        background: #333;
        z-index: 999999;
        height: 100%;
        #nosidederty {
            background: #333;
        }
        .login {
            font-size: 12px;
            position: absolute;
            top: 100px;
            z-index: 99;
            i {
                background: url('../img/sidebar_out.png') no-repeat 0 0;
            }
        }
        .sidecss {
            height: 40px;
            font-size: 12px;
            width: 38px;
            background: #333;
            text-align: center;
            margin: 2px 0;
            line-height: 40px;
            transition: all .2s ease;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
            -o-transition: all .2s ease;
            i {
                width: 38px;
                height: 40px;
                float: left;
                display: inline;
            }
            .mui-mbar-tab-normal-arr {
                position: absolute;
                top: 14px;
                right: 0;
                display: none;
                width: 6px;
                height: 12px;
                background: url('../sidebar_in.png') no-repeat 0 -108px;
                border: 0;
            }
            .mui-mbar-tab {
                position: relative;
                z-index: 999;
                top: 15px;
            }
        }
        .shopcar {
            border-top: 1px solid #666;
            border-bottom: 1px solid #666;
            height: 174px;
            position: absolute;
            top: 160px;
            width: 43px;
            right: 0;
            z-index: 99999;
            background-color: #333;
            font-family: 'Microsoft YaHei';
            text-align:center;
            i {
                width: 24px;
                height: 18px;
                margin-top: 36px;
                background: url('../img/sidebar_out.png') no-repeat 0 -365px;
                display: inline-block;
            }
            span {
                margin-top: 10px;
                line-height: 15px;
                display: block;
                font-size: 14px;
            }
            b {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #e6133c;
                text-align: center;
                display: block;
                line-height: 18px;
                color: #FFF;
                margin-top: 10px;
                margin-left: 12px;
            }
            .cartbar_co {
                width: 43px;
                height: 5px;
                position: absolute;
                bottom: -5px;
                left: 0;
                background: url('../img/sidebar_out.png') no-repeat 0 -360px;
            }
        }
        .collection {
            position: absolute;
            top: 330px;
            z-index: 98;
            i {
                background: url('../img/sidebar_out.png') no-repeat 0 -40px;
            }
        }
        .history {
            position: absolute;
            top: 390px;
            z-index: 97;
            i {
                background: url('../img/sidebar_out.png') no-repeat 0 -80px;
            }
        }
        .suggest {
            position: absolute;
            top: 400px;
            display: none;
        }
        .qrcode {
            position: absolute;
            top: 450px;
            i {
                background: url('../img/sidebar_out.png') no-repeat 0 -200px;
            }
            .ico_dd {
                width: 31px;
                height: 50px;
                position: absolute;
                left: -25px;
                top: 0;
                background: url('../img/ico_dd.png') 0 0 no-repeat;
                z-index: 999;
                cursor: default;
            }
        }
        .service {
            position: absolute;
            // top: 500px;
            i {
                background: url('../img/sidebar_out.png') no-repeat 0 -240px;
            }
        }
    }
    .right-slidebar-detail {
        height: inherit;
        position: absolute;
        right: 0;
        top: 0;
        background: #f2f2f2;
    }
}
